


<div class="row">
  <div class="col-sm-6">
    <h1>Martian_places</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_martian_place_path, class: 'btn btn-primary' do %>
    Add New Martian place
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Address</th>
            <th>Latitude</th>
            <th>Longitude</th>
            
      </tr>
    </thead>

    <tbody>
      <% @martian_places.each do |martian_place| %>
        <%= content_tag :tr, id: dom_id(martian_place), class: dom_class(martian_place) do %>
          
            <td><%= link_to martian_place.name, martian_place %></td>
          

                      <td><%= martian_place.address %></td>
                      <td><%= martian_place.latitude %></td>
                      <td><%= martian_place.longitude %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
