
<li class="city-listing"> <!-- grid listing of name -->
  <%= link_to city, class:"city-listing__id" do %>
      <%= city.id.to_s.rjust(3, '0') %> 
  <% end %>
  <%= link_to city do %>
      <p class="city-listing__location">
        <span><%= city.name %></span><br />
        <span class="card_listing__location"><%= city.country %></span>            
      </p>  
  <% end %>
    
</li>
