<%= form_with(model: city, 
      local: true, 
      data: {controller: "places", 
        action: "google-maps-callback@window->places#initMap", 
        places_latitude: city.latitude, 
        places_longitude: city.longitude
        }
      ) do |form| %>
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :country %>
    <%= form.text_field :country, class: 'form-control' %>
  </div>

      <div class="form-group">
        <%= form.label :address %>
        <%= form.search_field :address, class: 'form-control', data: { target: "places.field", action: "keydown->places#keydown" }%>
      </div>

      <div class="form-group">
        <%= form.label :latitude %>
        <%= form.text_field :latitude, class: 'form-control', data: { target: "places.latitude" } %>
      </div>

      <div class="form-group">
        <%= form.label :longitude %>
        <%= form.text_field :longitude, class: 'form-control', data: { target: "places.longitude" } %>
      </div>


    <div class="p-4">
      <div data-target="places.map" style="height:400px;width:400px"></div>
    </div>

  <div class="form-group">
    <% if city.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', city, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if city.persisted? %>
      <%= link_to "Cancel", city, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", cities_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
