


<div class="row">
  <div class="col-sm-6">
    <h1>Cities</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_city_path, class: 'btn btn-primary' do %>
    Add New City
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Country</th>
            <th>Lat</th>
            <th>Lon</th>
            <th>Open weather</th>
            
      </tr>
    </thead>

    <tbody>
      <% @cities.each do |city| %>
        <%= content_tag :tr, id: dom_id(city), class: dom_class(city) do %>
          
            <td><%= link_to city.name, city %></td>
          

                      <td><%= city.country %></td>
                      <td><%= city.lat %></td>
                      <td><%= city.lon %></td>
                      <td><%= city.open_weather_id %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
