<style>
    .footer .container{        
        /* padding-bottom: 40px; */
                /* width: 100%; */
        /* position: fixed;         */
        /* background: #333; */
        /* padding: 10px 0; */
        /* color: #fff; */
        /* bottom: 0; */

</style>

<% content_for :title, @city.name %>
<% content_for :body_class, "cities cities__show #{@city.name}" %>

<main class="current-weather">
  <div class="image-header">
    <%= image_tag "design/2bd22412748107.5626c8b626e9b" %>
  </div>
  
  <h1 class="place">over the hills and far away</h1>
  <div class="city-state">
    <span class="name"><%= @city.name %></span> 
    <br>
    <span class="country"><%= @city.country %> </span>
    <span class="longitude"><%= @city.longitude%> </span>
    <span class="latitude"><%= @city.latitude%> </span>
  </div>

  <div class="aurora-border">&nbsp;</div>

  <div class="recorded-at">
    <%= @city.earthly_readings.last.recorded_at %>
  </div>

  <div class="temperature">
    <%= @city.earthly_readings.last.temp.round %>&deg; C
  </div>

  <div class="weather-condition">
    Sunny / Snow
  </div>

</main>
