<!DOCTYPE html>
<html>
  <head>
    <%= render 'head' %>
  </head>

  <body class="<%= yield(:body_class) %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>
<!-- 
    <div class="container">
    </div>
-->
      <%= yield %>

    <%#= render 'footer' %>
  </body>
</html>
