<div class="page-header">
  <%= link_to martian_weather_stations_path, class: 'btn btn-default' do %>
    All Martian_weather_stations
  <% end %>
  <%= link_to edit_martian_weather_station_path(@martian_weather_station), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show martian_weather_station</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @martian_weather_station.name %></dd>

  <dt>Latitude:</dt>
  <dd><%= @martian_weather_station.latitude %></dd>

  <dt>Longitude:</dt>
  <dd><%= @martian_weather_station.longitude %></dd>

  <dt>Data Connection:</dt>
  <dd><%= @martian_weather_station.data_connection %></dd>

</dl>
